---
layout: default
---
<script type="text/javascript">
    $("li.menu1").removeClass("selected");
    $("li.menu4").addClass("selected");
</script>
<div id="contentcontainer1">
    <div id="blog-body">
        <h5 style="float:right"><a href="/blog.html">&laquo;back to Blog list</a></h5><br/>
        <b id="blog-title">{{ page.title }}</b><br/>
        <small id="blog-detail">Posted on {{ page.date | date_to_string }} by {{ page.author }}</small>
        <div id="post-content">
            {{ content }}
        </div><br/>
        <script type="text/javascript">
//<![CDATA[
(function() {
	var links = document.getElementsByTagName('a');
	var query = '?';
	for(var i = 0; i < links.length; i++) {
	if(links[i].href.indexOf('#disqus_thread') >= 0) {
		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
	}
	}
	document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/artha42-website/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script><br/><br/>
<a href="{{post.url}}#disqus_thread">Comments</a><br/><br/>
<div id="disqus_thread"></div>
<script type="text/javascript" src="http://disqus.com/forums/artha42-website/embed.js"></script>
<noscript><a href="http://disqus.com/forums/artha42-website/?url=ref">View the discussion thread.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
</div>
