---
layout: default
---
<script type="text/javascript">
    $("li.menu1").removeClass("selected");
    $("li.menu4").addClass("selected");
</script>
<div id="contentcontainer1">
    <div id="blog-body">
        <h5 style="float:right"><a href="/blog.html">&laquo;back to Blog list</a></h5><br/>
        <b id="blog-title">{{ page.title }}</b><br/>
        <small id="blog-detail">Posted on {{ page.date | date_to_string }} by {{ page.author }}</small>
        <div id="post-content">
            {{ content }}
        </div><br/>
    </div>
</div>
